fastapi
uvicorn
mysql-connector-python
pytest
SQLAlchemy
pydantic
email-validator
yfinance
jinja2
requests
pyotp
pandas
httpx<0.28
python-dotenv
cachetools
openai
vaderSentiment

matplotlib
tweepy
beautifulsoup4
lxml
google-api-python-client
google-auth
google-auth-oauthlib
apscheduler
python-dateutil
